.pollution-list-container {
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 12px;
}

.pollution-list {
  list-style: none;
  padding: 0;
}

.pollution-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.pollution-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 6px 12px;
  background-color: #00f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}